.product {
  display: inline-block;
  width: calc(33.33% - 50px);
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
  text-align: center;
  background-color: #f4e0da;
  padding: 15px;
  border-radius: 8px;
}

.product img {
  max-width: 100%;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  margin: 5px 0;
}
