.product-detail-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.product-detail-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-detail-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-detail-container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product-detail-container .price {
  font-size: 18px;
  font-weight: bold;
}
